<div class="col-xl-4 col-md-6 col-sm-8 col-10" style= "margin: auto; border-radius: 6px; padding: 15px">
  <h1>New Post</h1>
  <%= form_with(model: post) do |form| %>

    <div class="field">
      <% invalid = post.errors.include?(:title)%>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class: "form-control" %>
      <% if invalid %>
          <p class="error_explanation">
            <%= post.errors.full_messages_for(:title).join(", ") %>
          </p>
      <% end %>
    </div>

    <div class="field">
      <%= form.text_field :user_id, type: "hidden", value: current_user.id %>
    </div>

    <div class="field">
      <% invalid = post.errors.include?(:description)%>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_field :description, class: "form-control" %>
      <% if invalid %>
          <p class="error_explanation">
            <%= post.errors.full_messages_for(:description).join(", ") %>
          </p>
      <% end %>
    </div>

    <div class="field">
      <% invalid = post.errors.include?(:keywords)%>
      <%= form.label :keywords, style: "display: block" %>
      <%= form.text_field :keywords, class: "form-control" %>
      <% if invalid %>
          <p class="error_explanation">
            <%= post.errors.full_messages_for(:keywords).join(", ") %>
          </p>
      <% end %>
    </div>

    <br>
    <%= form.file_field :images, multiple:true %>

    <div class="actions" style= "padding: 15px 0"  >
      <%= form.submit class: "btn btn-primary col-12" %>
    </div>
  <% end %>
</div>
