<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @post.keywords %>
</p>

<% @post.images.each do |image| %>
  <%= image_tag(image, style: "object-fit: cover; width: 300px; height: 600px") %>
<% end %>

<br>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
